
footer {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.tag-line {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color:lightblue;
}

.Footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    flex-wrap: wrap;
}

.Footer-content div {
    flex: 1;
    margin: 10px;
}

.contact-us, .links1, .links2, .newsletter {
    min-width: 200px; 
    cursor: pointer;
}

.contact-us h1, .links1 h1, .links2 h1, .newsletter h1 {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.contact-us p, .links1 li, .links2 li {
    margin: 5px 0;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#email {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.icon{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.color{
    color: black;
}

.color:hover{
    color: blue;
}

.copyright{
    background-color:#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;

}