

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(51,32,195,0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.mobile-menu {
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background: rgba(51,32,195,0.9);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s;
}

/* Screen more than 991px wide */
@media ((min-width: 991px)) {
    .mobile-menu {
        display: none !important;
    }   

}

.mobile-menu a {
    /* box-shadow: inset 0 0 1rem rgba(255,255,255,0.7); */
    /* border-top: 3px solid #fff; */
    /* border-bottom: 1px solid #fff; */
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.mobile-menu a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.mobile-menu a:hover:after {
    width: 50%;
}

.mobile-menu .active-link {
    background: 
    linear-gradient(white 0 0) bottom/ 60% 2px no-repeat, 
    transparent;
}
/* .mobile-menu a:hover {
    box-shadow: inset 0 0 1rem rgba(255,255,255,0.7);
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
} */
.mobile-menu__trigger {
    cursor: pointer;
    content: "";
    position: absolute;
    z-index: 3;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 2rem;
    right: -5rem;
    background: rgba(51,32,195,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu__trigger span {
    display: block;
    width: 50%;
    height: 2px;
    background: #fff;
    position: relative;
}
.mobile-menu__trigger span::before,
.mobile-menu__trigger span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    background: #fff;
    transition: all 0.3s;
}
.mobile-menu__trigger span::before {
    top: -7px;
}
.mobile-menu__trigger span::after {
    top: 7px;
}
.mobile-menu__trigger:hover span::before {
    width: 50%;
    top: -3px;
    right: 0;
    transform: rotate(30deg);
}
.mobile-menu__trigger:hover span::after {
    width: 50%;
    top: 3px;
    right: 0;
    transform: rotate(-30deg);
}
.mobile-menu_open {
    transform: translateX(0%);
    box-shadow: 0 0 2rem #000;
}
.mobile-menu_open+.overlay {
    visibility: visible;
    opacity: 1;
}
.mobile-menu_open .mobile-menu__trigger span::before,
.mobile-menu_open .mobile-menu__trigger span::after {
    left: 0;
}
.mobile-menu_open .mobile-menu__trigger:hover span::before {
    transform: rotate(-30deg);
}
.mobile-menu_open .mobile-menu__trigger:hover span::after {
    transform: rotate(30deg);
}