#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 8px;
    background-color: #f76b45;
    z-index: 9999;
  }
.circle {
position: absolute;
width: 25px;
height: 25px;
border-radius: 50%;
pointer-events: none;
background: radial-gradient(circle, rgba(255,255,255,0.5), rgba(141, 38, 172, 0.5));
transition: transform 0.1s, left 0.1s, top 0.1s;
}

.circle-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none;
z-index: 9999;
}

@media (max-width: 720px) {
.circle-container {
  display: none;
}
}

.unique-popup-message {
position: fixed; /* Change to fixed positioning */
top: 30px; /* Adjust this value to be below the navbar */
right: 2px; /* Adjust this value for the desired distance from the right edge */
width: 300px; /* Adjust width as needed */
transform: translateX(0); /* Center the popup horizontally */
background-color: #a4d8ff;
color: #131722;
padding: 11px;
border-radius: 5px;
text-align: center;
z-index: 1000;
box-sizing: border-box;
overflow: hidden; /* Hide the expanding border animation */
position: relative;
}

.border-animation {
position: absolute;
bottom: 0;
left: 0;
height: 7px; /* Same height as the border */
background-color: rgb(4, 0, 128);
width: 95%;
transform-origin: right; /* Start shrinking from the right */
}

@keyframes borderAnimation {
from {
transform: scaleX(0); /* Full width initially */
}
to {
transform: scaleX(1); /* Shrink to zero width */
}
}

.blog-content {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  /* Adjust this value to increase or decrease the margins */
}

@media (max-width:768px) {
  .blog-content{
    max-width: 100%;
  }

  
}