* {
    cursor: url('/assets/images/ads_click_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg'), auto;
  }

.faq-section {
    max-width: 80vw;
    margin: 7rem auto;
    padding: 3rem 1.2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.faq-icon {
    font-size: 25px;
    font-weight: bold;
  }
  

.faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

.faq-question {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}


.faq-question:hover {
    color: #007BFF;
}

.faq-answer {
    /* max-height: 0; Start with zero height */
    opacity: 0; /* Start as invisible */
    padding: 0; /* Start with no padding */
    overflow: hidden;
    background-color: #f9f9f9;
    border-left: 3px solid #007BFF;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease; /* Smooth transitions */
    display: block;
}

.faq-answer.show {
    max-height: 1000px; /* High enough value to accommodate content */
    opacity: 1; /* Make visible */
    padding: 10px 20px; /* Restore padding */
}

.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(73, 232, 247, 0.466), rgba(141, 38, 172, 0.5));
    transition: transform 0.1s, left 0.1s, top 0.1s;
  }

  .circle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
  }

  @media (max-width: 720px) {
    .circle-container{
      display: none;
    }
  }
