/* Preloader styling */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff; /* Ensure a white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* On top of everything else */
  transition: opacity 0.3s ease-out;
}

/* When hidden, it will fade out */
#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Hide all content initially until the preloader is hidden */
.content-wrapper {
  visibility: hidden;
}

/* Once the preloader is gone, show the content */
#preloader.hidden + .content-wrapper {
  visibility: visible;
}
#lottie-loader {
  width: 200px; /* Reduce the size */
  height: 200px;
}
