.password-container {
    position: relative;
  }
  .password-container input {
    padding-right: 30px;
  }
  .password-container .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  table {
    width: 100%;
  }
  table tr td {
    padding: 10px 0;
  }
  .error {
    color: red;
    font-size: 0.9em;
  }