.card2 {
    margin: 10px;
    width: 100%;
    max-width: 310px;
    height: 70px;
    background: #353535;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
  }
  
  .card2:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 10px;
    background: linear-gradient(#d7cfcf, #9198e5);
  }
  
  .card:hover > .img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .span {
    font-size: 10px;
  }
  
  .h1 {
    font-size: 12px;
    font-weight: bold;
  }
  
  .p {
    font-size: 12px;
    font-weight: lighter;
  }
  
  .feature{
   margin: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
  }
  @media (max-width : 450px){
    .card2 {
        width: 100%;
        max-width: 290px;
        height: 70px;
        background: #353535;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: left;
        backdrop-filter: blur(5px);
        transition: 0.5s ease-in-out;
        margin-bottom: 20px;
        margin: 10px;
      }
      
      .card2:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      
      .img {
        width: 40px;
        height: 40px;
        margin-left: 8px;
        border-radius: 8px;
        background: linear-gradient(#d7cfcf, #9198e5);
      }
      
      .card2:hover > .img {
        background: linear-gradient(#9198e5, #712020);
      }
      
      .textBox {
        width: calc(100% - 60px);
        margin-left: 10px;
        color: white;
        font-family: 'Poppins', sans-serif;
      }
      
      .textContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .span {
        font-size: 8px;
      }
      
      .h1 {
        font-size: 12px;
        font-weight: bold;
      }
      
      .p {
        font-size: 10px;
        font-weight: lighter;
      }
      
  }