@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

/* General Styles */
* {
  box-sizing: border-box;
  cursor: url(./assets/images/ads_click_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg),
    auto;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: #f0f0f0;
}

/* Main Container */
main {
  padding: 20px;
}

/* Header Styles */
/* Dark Theme Styles */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

#forum-title.dark-mode {
  color: #fff;
}

.post-container.dark-mode {
  background: #222;
  color: #fff;
}

.post-container.dark-mode textarea {
  background: #333;
  border-color: #555;
  color: #fff;
}

.post-container.dark-mode textarea:focus {
  border-color: #fff;
}

#submit-button.dark-mode {
  background: #555;
  color: #fff;
}

#submit-button.dark-mode:hover {
  background: #777;
}

.post.dark-mode {
  background: #333;
  color: #fff;
}

.post.dark-mode:hover {
  background: #444;
}

.destinations h1 {
  color: #2f6be5;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

/* Post Container */
.post-container {
  background: rgb(156, 207, 216);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

/* Textarea Styles */
textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
  font-size: 1rem;
}

textarea:focus {
  border-color: #2f6be5;
  outline: none;
}

/* Button Styles */
button {
  background: #2f6be5;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  font-size: 1rem;
  margin-top: 10px;
}

/* Post Styles */
.post {
  margin: 15px 0;
  padding: 15px;
  background: #def1b9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

.post:hover {
  background: #e6e7a3;
}

/* Scroll Button */
.scroll-btn {
  font-size: 20px;
  color: #ffffff;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: rgb(102, 107, 234);
  text-align: center;
  z-index: 9999;
  transition: background 0.3s, transform 0.2s;
}

.scroll-btn:hover {
  background-color: rgb(82, 85, 186);
  transform: scale(1.1);
}

/* Additional Styles */
.hi {
  background: #35424a;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle,
      rgba(73, 232, 247, 0.466),
      rgba(141, 38, 172, 0.5));
  transition: transform 0.1s, left 0.1s, top 0.1s;
}

.circle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.unique-popup-message {
  position: fixed;
  top: 30px;
  right: 2px;
  width: 300px;
  transform: translateX(0);
  background-color: #a4d8ff;
  color: #131722;
  padding: 11px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.border-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7px;
  background-color: rgb(4, 0, 128);
  width: 100%;
  transform-origin: right;
}

@keyframes borderAnimation {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.social-pill {
  height: 54px;
  width: 114px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.23);
  border-radius: 80px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
}

.social-pill div {
  width: 50%;
  height: 100%;
  border-radius: 80px;
}

.social-pill div:hover {
  background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
  background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
}

.right {
  float: right;
  margin-right: -2px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.right:hover {
  background-color: rgba(255, 255, 255, 0.23);
}

.left {
  float: left;
  margin-right: -2px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.left:hover {
  background-color: rgba(255, 255, 255, 0.23);
}

.social-pill div a {
  padding: 15px 13px;
  color: #fff;
}

.social-pill div a i {
  cursor: pointer;
}

#slide-buttons {
  width: 100vw;
}

.arrow {
  position: absolute;
  z-index: 1;
}

.arrow-left {
  left: 20%;
}

.arrow-right {
  right: calc(20% - 120px);
}

.arrow {
  cursor: pointer;
  height: 120px;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 80px;
  background-color: transparent;
  border: none;
}

.arrow-top,
.arrow-bottom {
  background-color: #000;
  height: 4px;
  left: -5px;
  position: absolute;
  top: 50%;
  width: 50px;
}

.arrow-top:after,
.arrow-bottom:after {
  background-color: #fe8464;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}

.arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}

.arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}

.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}

.arrow-left .arrow-bottom {
  transform-origin: left;
}

.arrow-left .arrow-top {
  transform-origin: left;
}

.arrow-left .arrow-top::after {
  transition: all 0.15s;
  transition-delay: 0.15s;
}

.arrow-left .arrow-bottom::after {
  transition: all 0.15s;
  transition-delay: 0s;
}

/* Apply styles on hover of .arrow-left */
.arrow-left:hover .arrow-top::after {
  transition-delay: 0s !important;
}

.arrow-left:hover .arrow-bottom::after {
  transition-delay: 0.15s !important;
}

.social-icons {
  text-align: left;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.1rem;
  height: 2.1rem;
  background-color: transparent;
  border: 0.2rem solid #0890ff;
  font-size: 1.1rem;
  border-radius: 50%;
  margin: 1rem 0.5rem 0.5rem 0;
  transition: 0.3s ease;
  color: #55ff00;
  text-align: left;
}

.social-icons a:hover {
  box-shadow: 0 0 25px #03133c;
  animation-name: spin;
  background: none;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(1.3);
  }

  to {
    transform: rotate(360deg) scale(1.3);
  }
}

.social-icons a:hover i.fa-instagram {
  color: #e1306c !important;
}

.social-icons a:hover i.fa-facebook {
  color: #316ff6 !important;
}

.social-icons a:hover i.fa-x-twitter {
  color: #1da1f2 !important;
}

.social-icons a:hover i.fa-discord {
  color: #5865f2 !important;
}

.social-icons a:hover i.fa-github {
  color: #171515 !important;
}

.or-sign-in-with {
  margin: 20px 0;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  text-align: center;
  position: relative;
}

.or-sign-in-with::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 35%;
  border-top: 1px solid #ccc;
  transform: translateX(-2%);
}

.or-sign-in-with::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 35%;
  border-top: 1px solid #ccc;
}

/*added the css of center-cards  */
.center-cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-wrapper {
  /* background-color: #0f2027; */
  color: white;
}

/* Footer Divider */
.footer-divider {
  border: none;
  border-top: 4px solid #259117;
}


/* Footer Titles */
.footer-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Footer Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff8c00;
}

/* Contact Section */
.contact {
  list-style: none;
  padding: 0;
}

/* Footer Separator */
.footer-separator {
  border-top: 2px solid #ccc;
  width: 90%;
  margin-bottom: 10px;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.1),
    10px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Footer Area */
#footer {
  color: white;
}

/* Subscribe Area */
.subscribe-area {
  padding: 40px 50px 90px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  -moz-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 60px;
}

#news-email:hover {
  color: maroon !important;
}

.subscribe-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  background-color: #0890ff;
}

.subscribe-area:hover {
  box-shadow: 10px 10px 15px #1078b4;
}

h2.subscribe-map-title {
  background-color: transparent;
  box-shadow: none;
  text-align: left;
}

h2.subscribe-map-title:hover {
  background-color: transparent;
  box-shadow: none;
  margin-left: 0;
  margin-right: 0;
  border: none;
}

/* Form container styling */
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

#unique-subscribe-form {
  display: flex;
  gap: 10px;
}

/* Input and Button styles */
#unique-news-email {
  padding: 10px 15px;
  width: 300px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  right: 70px;
}

#unique-news-email::placeholder {
  color: #aaaaaac5;
}

#unique-news-email:hover {
  box-shadow: 1px -1px 10px #0048ff;
}

/* Popup Message */
.unique-popup-message {
  padding: 15px;
  background-color: #0f2027;
  border: 2px solid #ff8c00;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

.border-animation {
  border: 2px dashed #ff8c00;
  margin-bottom: 5px;
}

.footer-widget {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: white;
  position: relative;

  background-color: transparent;
  overflow: hidden;
align-items: end;
  justify-content: space-between;
}

#footer {
  width: 100%;
}

.footer-copyright {
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
}




body {
  margin: 0;
  height: 100%;
}

.bubble {
  position: absolute;

  bottom: -50px;
  width: 70px;
  height: 70px;
  background-color: #61dafb;
  border-radius: 50%;
  animation: rise 3s infinite;
  opacity: 0.7;
}

@keyframes rise {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

.bubble:nth-child(1) {
  left: 20%;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  left: 40%;
  animation-delay: 0.5s;
}

.bubble:nth-child(3) {
  left: 60%;
  animation-delay: 1s;
}

.bubble:nth-child(4) {
  left: 80%;
  animation-delay: 1.5s;
}

/* Centering and styling the section title */
.section-title {
  margin: auto;
  text-align: center;
}

.line {
  width: 65%;
  height: 3px;
  background-color: #2f6be5;
  margin: 0 auto;
}

/* Animation for left-to-right and right-to-left slide */
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Applying animations to specific classes */
.animated-post.left-slide {
  animation: slideFromLeft 0.8s ease-in-out;
}

.animated-post.right-slide {
  animation: slideFromRight 0.8s ease-in-out;
}

/* Main Section Styling */
#destinations {
  padding: 2rem;
  background-color: #0890ff;
  color: white;
  font-family: Arial, sans-serif;
}

#destinations h1 {
  text-align: center;
  color: #222;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Post Container Styling */
.post-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #0048ff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
}
.post-container:hover{
  border:  1px solid white;
}

/* Form Styling */
#postForm {
  display: flex;
  flex-direction: column;
}

#postForm textarea {
  width: 100%;
  height: 300px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  resize: vertical;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s;
}

#postForm textarea:focus {
  border-color: #5a67d8;
  outline: none;
}

#postForm button {
  align-self: flex-end;
  padding: 0.75rem 1.5rem;
  background-color: #5a67d8;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

#postForm button:hover {
  background-color: #4c51bf;
}

/* Posts Display Styling */
#posts {
  margin-top: 1.5rem;
}

.post {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.post-content {
  color: #444;
  font-size: 1rem;
}

.post-time {
  font-size: 0.875rem;
  color: #888;
  margin-top: 0.5rem;
}

/* Width more than 1100px. Arrows goes to side */
@media (min-width: 1100px) {
  .arrow {
    bottom: 200px;
  }

  .arrow-left {
    left: 60px;
  }

  .arrow-right {
    right: -60px;
  }
}

/* Width more than 1250px. Arrows remains at same place with respect to the testimonials */
@media (min-width: 1250px) {
  .arrow {
    bottom: 200px;
  }

  .arrow-left {
    left: calc(50vw - 575px);
  }

  .arrow-right {
    right: calc(50vw - 575px - 120px);
  }
}

@media (min-width: 1200px) and (max-width: 1220px) {
  .arrow {
    bottom: inherit;
  }

  .arrow-left {
    left: 20%;
  }

  .arrow-right {
    right: calc(20% - 120px);
  }
}

/* Footer Responsiveness */
@media (max-width: 768px) {

  .post-container,
  .post {
    padding: 15px;
  }

  button {
    width: 100%;
  }

  .circle-container {
    display: none;
  }

  .tradingview-widget-container {
    max-width: 100vw;
    overflow-x: auto;
  }

  .footer-widget {
    padding-bottom: 5px;
  }

  .footer-title {
    font-size: 14px;
  }

  .footer-links li,
  .contact li {
    margin: 3px 0;
  }

  #unique-news-email {
    padding: 7px;
    padding-left: 13px;
    width: 150px;
    height: 50px;
    right: 70px;
  }

  #unique-subscribe-form {
    display: flex;
    margin-top: px;
    margin-left: 60px;
    gap: 10px;
  }

  .subscribe-area {
    flex-direction: column;
    text-align: center;
  }

  .subscribe-form {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .subscribe-form input {
    width: 60%;
    margin-bottom: 10px;
  }

  .subscribe-title {
    font-size: 24px;
  }

  #unique-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 75vw;
  }

  #unique-news-email {
    width: 100%;
    height: 65px;
  }

  #postForm textarea {
    width: auto;
    height: auto;
  }
  
}
