.password-container {
  position: relative;
  display: inline-block;
}

.password-container input {
  padding-right: 40px; 
}

.password-container .toggle-password {
  position: absolute;
  top: 50%;
  right: 10px; /* Position the icon 10px from the right */
  transform: translateY(-50%);
  cursor: pointer;


}

table {
  width: 100%;
}

table tr td {
  padding: 10px 0;
}

.error {
  color: red;
  font-size: 0.9em;
}
