.password-container {
  position: relative;
  width: 100%; /* Ensure the container has a defined width */
}

.password-container input {
  padding-right: 40px; /* Add extra padding for the icon */
}

.password-container .toggle-password {
  position: absolute;
  top: 50%;
  right: 20px; /* Change this value to adjust the position further right */
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1; /* Ensure it appears above other elements */
}


table {
  width: 100%;
}

table tr td {
  padding: 10px 0;
}

.error {
  color: red;
  font-size: 0.9em;
}
