/* General styling for the market status feature */
.market-status-section-unique {
  margin-top: 20px;
  padding: 20px;
  background-color: #F4F9FD;
  border-radius: 10px;
}

.market-status-heading-unique {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

/* Scrollable container for the market status cards */
.market-scroll-container-unique {
  max-width: 100%;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.market-card-container-unique {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}

/* Styling for individual market status cards */
.market-card-unique {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.market-status-tag-unique {
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}

.market-status-closed-unique {
  background-color: #f44336;
}

.market-status-open-unique {
  background-color: #4caf50;
}

.market-card-title-unique {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.market-card-info-unique {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.market-card-notes-unique {
  font-size: 0.9rem;
  color: #888;
  margin-top: 10px;
}


/* Responsive design for market status feature */
@media (min-width: 1024px) and (min-width: 768px) {
  .market-status-section-unique {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .market-status-heading-unique {
    font-size: 1.8rem;
  }

  .market-card-unique {
    padding: 15px;
    width: 100%;
  }

  .market-status-tag-unique {
    font-size: 0.8rem;
    padding: 4px 10px;
  }

  .market-card-title-unique {
    font-size: 1rem;
  }

  .market-card-info-unique {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .market-status-heading-unique {
    font-size: 1.5rem;
  }

  .market-card-unique {
    padding: 10px;
  }

  .market-status-tag-unique {
    font-size: 0.7rem;
    padding: 3px 8px;
  }

  .market-card-title-unique {
    font-size: 0.9rem;
  }

  .market-card-info-unique {
    font-size: 0.8rem;
  }
}
