body {
    background-color: #f4f9fd; /* Fresh light blue background color */
}

:root{
    --white:white;
    --slider:rgba(75, 147, 255, 0.808);
    --slider-dark:rgba(7, 97, 233, 0.808);
}

#financeQuizForm {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for the form */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow for the form */
    transition: all 0.6s ease-out;
   }
.quizpage input:hover{
    color: #03d345;
}
.quizpage label {
    display: block;
    margin-bottom: 10px;
    color: #227fbd; /* Dark blue label color */
}

.quizpage input[type="radio"] {
    margin-bottom: 10px;
}
.quizpage input[type="radio"]:hover {
    cursor: pointer; /* Change cursor to indicate interactivity */
  }
.quizpage .submit-button {
    background-color: #0e89c7; /* Breezy blue button color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    border: 2px solid #3498db; /* Bordered button with breezy blue border */
    border-radius: 5px;
    cursor: pointer;
}

.quizpage .submit-button:hover {
    background-color: #0617ca; /* Darker blue on hover */
}

#quizResult {
    margin-top: 20px;
    font-weight: bold;
    color: #2ecc71; /* Emerald green result color */
}

.test{
    text-align: center;
    color: var(--slider-dark);
    font-size: 45px;
    margin-bottom: 30px;
}

#question{
    text-align: center;
}

.quiz h2{
    font-weight: 500;
    color: var(--slider-dark);
    padding: 20px 0;
    font-size: 18px;
    border-top: 0.1px solid var(--grey-dark);
}

#quiz{
    /* height: 600px; */
    /* margin-top: 5%; */
    /* max-width: 90%; */
    /* border: 2px solid seagreen; */
    /* margin-left: 10%; */
    transition:  all 0.6s ease-out;
}


.correct{
    background: rgb(10, 141, 60);
}

.incorrect{
    background: rgb(198, 25, 25);
}

#answer-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn:hover:not([disabled]):not([focused]){
    background:var(--slider-dark);
    color: var(--white);
}

.btn:focus{
    background-color: #fe8464;
    outline: none;
}

.btn:disabled{
    cursor: no-drop;
}

.btn{
    color: var(--dark);
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-weight: 500;
    padding: 10px;
    width: 400px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.4s;
}

.quiz-bottom-btns{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: auto;
    /* align-items: center; */
}

.quiz-description {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz-description:hover {
    transform: scale(0.98);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: linear-gradient(105deg,#3d10bd, #62bdff);
}

#quiz {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#quiz:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: #f48727; /* Original orange button color */
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    /* No color change on hover */
    background-color: #f48727; /* Keep original button color */
}

#next-btn, #submit-btn, #pass-btn{
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    width: 100px;
    margin: 20px auto 0;
    color: var(--white);
    border-radius: 4px;
    background: var(--slider-dark);
    cursor: pointer;
    transition: transform 0.4s;
    /* display: block; */
}

#submitButton:disabled{
    cursor: no-drop;
    /* background-color: rgba(0, 0, 0, 0.808); */
}

#next-btn:active, 
#submit-btn:active, 
#pass-btn:active{
    transform: scale(0.96);
}

.btn:active{
    transform: scale(0.96);
}

#correct-span, #incorrect-span{
    font-size: 14px;
    text-align: center;
    display: none;
}
#correct-span{
    color: rgb(27, 207, 96);
}

#incorrect-span{
    color: rgb(227, 25, 25);
}
#play-again-btn{
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    width: 70%;
    margin: 20px auto 0;
    color: rgb(21, 21, 21);
    border-radius: 4px;
    background: linear-gradient(to right, #fe8464 0%, #fe8464 50%, #fe8464 100%);
    cursor: pointer;
    transition: transform 0.4s;
    animation: playagain 2s infinite ;
}
#play-again-btn:hover{
    transform: scale(1.04);
}
@keyframes playagain {
    50%{
        transform: scale(1.04);
    }
}

.quiztitle{
    margin:2rem;
    display:flex;
    justify-content: center;
    text-align: center; 
    font-weight: bold;
     font-size: x-large;
}

.quizcontent{
    display:flex;
    justify-content: center; 
    align-items: center;
    display:flex;
    justify-content: center; 
    text-align: center;
}
.quizcontent2{
    margin:2rem; 
    display:flex;
    justify-content: center; 
    align-items: center;
    font-weight: bold; 
    font-size: x-large; 
}

@media (max-width:1150px) {
    #quiz-pic{
        display: none;
        width: 50px;
        height: 50px;
    }
}

@media(max-width:680px){
    .btn{
        width: 300px;
    }
}

@media(max-width:400px){
    .btn{
        width: 250px;
    }
}

@media(max-width:340px){
    .btn{
        width: 200px;
    }
}

#quiz-progress-bar {
    width: 100%;
    background-color: #d1c5c5;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

#quiz-progress {
    height: 17px;
    width: 0;
    background-color:#00aaff; /*#33ccff;*/
    transition: width 0.3s ease;
}
#completed-perc{
    font-size: 14px;
}

@media(max-width :460px){
    .quiztitle{
        font-size: 20px ;
    }
}
    
@media(max-width :460px){
    .quizcontent{
        font-size: 12px ;
    }
}
    
@media(max-width :460px){
    .quizcontent2{
        font-size: 18px ;
    }
}
    
#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 8px;
    background-color: #f76b45;
    z-index: 9999;
    
  }
  * {
    cursor: url('/assets/images/ads_click_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg'), auto;
  }


  .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(73, 232, 247, 0.466), rgba(141, 38, 172, 0.5));
    transition: transform 0.1s, left 0.1s, top 0.1s;
  }

  .circle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
  }

  @media (max-width: 720px) {
    .circle-container{
      display: none;
    }
  }

  
.unique-popup-message {
position: fixed; /* Change to fixed positioning */
top: 30px; /* Adjust this value to be below the navbar */
right: 2px; /* Adjust this value for the desired distance from the right edge */
width: 300px; /* Adjust width as needed */
transform: translateX(0); /* Center the popup horizontally */
background-color: #a4d8ff;
color: #131722;
padding: 11px;
border-radius: 5px;
text-align: center;
z-index: 1000;
box-sizing: border-box;
overflow: hidden; /* Hide the expanding border animation */
position: relative;
}

.border-animation {
position: absolute;
bottom: 0;
left: 0;
height: 7px; /* Same height as the border */
background-color: rgb(4, 0, 128);
width: 100%;
transform-origin: right; /* Start shrinking from the right */
}

@keyframes borderAnimation {
from {
  transform: scaleX(0); /* Full width initially */
}
to {
  transform: scaleX(1); /* Shrink to zero width */
}
}

.blog-content {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  /* Adjust this value to increase or decrease the margins */
}
@media (max-width: 768px) { /* Change the max-width to fit your design needs */
.blog-content {
  max-width: 100%;
}}

.social-icons{

    text-align: left;
  }
  
  .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.1rem;
    height: 2.1rem;
    background-color: transparent;
    border: 0.2rem solid #0890ff;
    font-size: 1.1rem;
    border-radius: 50%;
    margin: 1rem 0.5rem 0.5rem 0;
    transition: 0.3s ease;
    color: #55ff00;
    text-align: left;
  }
  
  .social-icons a:hover {
    color: rgb(139, 249, 12);
    transform: scale(1.3) translateY(-5px);
    background-color: #0048ff;
    box-shadow: 0 0 25px #03133c;
  }
  
  
  .or-sign-in-with {
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    text-align: center;
    position: relative;
  }
  
  .or-sign-in-with::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0; 
    width: 35%; 
    border-top: 1px solid #ccc;
    transform: translateX(-2%); 
  }
  
  .or-sign-in-with::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0; 
    width: 35%; 
    border-top: 1px solid #ccc;
    transform: translateX(2%);
  }
  .form-check {
    display: flex;
    align-items: center;
  }
  .form-check a {
    margin-left: auto; 
  }
  .subscribe-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    background-color: #0890ff;
    
    }
    .subscribe-area:hover {
      box-shadow: 10px 10px 15px #1078b4;
    }
    .subscribe-title {
    font-size: 28px;
    font-weight: 700;
    color: white;
    }