body {
    font-family: Arial, sans-serif;
}

#gst-calculator {
    margin-top: 20px;
}

#gst #result {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#gst #result h4 {
    margin-top: 0;
}
.amount,
.tax-slab,
.mode{
    color:grey;
    text-align: center;
    font-weight: 600;
}
.calc{
    background-color: #28A745 !important;
    border-color: #28A745 !important;
    text-align: center;
}
#total-gst, #post-gst-amount {
    font-size: 15px;
    font-weight: bold;
}