
.header{
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}
.page-container{
    margin: 1% 20%;
    font-size: 16px;
}
.switch-container{
    display: flex;
    padding-left: 50px;
    font-family: monospace;
    justify-content: center;
}
.switch-container> div {
    margin:1% 10% 3% 0;
}
.input-container{
    display: flex;
    font-family: monospace;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.input-container> div {
    margin: 1% 5% 0 0;
}
.result{
    padding: 10% 0 0 0;
    font-size: 24px;
    font-family: monospace;
}
.result-container{
    /* display: flex; */
    padding-left: 60px;
    font-family: monospace;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.btn-calculate{
    font-family: monospace;
    text-align: center;
}
.btn-calculate>button{
    height: 35px;
    margin-right: 12%;
    border-radius: 10px;
    border: 2px solid #25AA78;
    background-color: #25AA78;
    border-color: #25AA78;
    font-size: 15px;
    width: 125px;
    cursor: pointer;
}
.body-background{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.currency{
    background:white;
    border-radius: 10px;
}
#total{
    border: 1px solid;
}
#wealth-gained{
    border: 1px solid;
}
#maturity-value{
    border: 1px solid;
}
#investment {
    height: 30px;
    border-radius: 9px;
    border-color: #333;
}
#years{
    height: 30px;
    border-radius: 9px;
    border-color: #333;
} 
#return-rate{
    height: 30px;
    border-radius: 9px;
    border-color: #333;
}
