.header {
  text-align: center;
  font-size: 30px;
}
.page-container {
  margin: 1% 20%;
  font-size: 16px;
}
.switch-container {
  display: flex;
  padding-left: 50px;
  justify-content: center;
}
.switch-container > div {
  margin: 1% 10% 3% 0;
}
.input-container {
  align-content: flex-start;
  justify-content: center;
  display: flex;
}
.input-container > div {
  flex-wrap: wrap;
  margin: 1% 5% 0 0;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 5% 0% 0 0;
}
.centered-content {
  justify-content: center;
  align-items: center;
}

.centered-content b {
  margin-left: 0px; /* Adjust as needed */
}

.result {
  padding: 10% 0 0 0;
  font-size: 24px;
}
.result-container {
  /* display: flex; */
  padding-left: 60px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.btn-calculate {
  text-align: center;
  cursor: pointer;
  margin-right: 3%;
}
.btn-calculate button {
  width: 10rem;
  padding: 10px 20px; /* Adds padding inside the button */
  background-color: #28a745; /* Green background color */
  color: #fff; /* White text color */
  border: none; /* Removes default border */
  border-radius: 5px; /* Rounds the corners */
  font-size: 16px; /* Increases font size */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  align-content: center;
}

.btn-calculate button:hover {
  background-color: #377fed; /* Blue on hover */
}

/* .btn-calculate > button {
  height: 35px;
  width: 125px;
  border-radius: 10px;
  border: 2px solid #25aa78;
  background-color: #25aa78;
  border-color: #25aa78;
  font-size: 15px;
} */

.currency {
  background: white;
  border-radius: 5px;
  padding: 5px;
  border-color: dimgray;
}
option {
  background: white;
  border-radius: 5px;
  padding: 5px;
  border-color: dimgray;
}
#total {
  border: 1px solid;
}
#wealth-gained {
  border: 1px solid;
}
#maturity-value {
  border: 1px solid;
}

/* #return-rate {
  height: 30px;
  border-radius: 9px;
  border-color: #333;
} */

.npv-calculate > button {
  height: 35px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #19a4cf;
  background-color: #19a4cf;
  border-color: #19a4cf;
  font-size: 15px;
  width: 125px;
  cursor: pointer;
}
.cash-flows-container {
  margin: 1% 5% 0 0;
  align-items: center;
  text-align: center;
}
#cashFlows {
  text-align: left;
}
.cash-flow-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.cash-flow-item input {
  text-align: left;
  align-items: center;
  width: calc(35% - 60px);
}
.nresult {
  padding: 2% 0 0 0;
  font-size: 24px;
}
.nresult-container {
  padding-left: 60px;
  flex-direction: column;
  align-items: center;
}
.sresult {
  padding: 0% 0 0 0;
  font-size: 23px;
}
.sresult-container {
  padding-left: 60px;
  flex-direction: column;
  align-items: center;
}
.sgresult {
  padding: 0% 0 0 0;
  font-size: 24px;
}
