.header {
  text-align: center;
  font-size: 30px;
}
.page-container {
  margin: 1% 20%;
  font-size: 16px;
}
.switch-container {
  display: flex;
  padding-left: 50px;  justify-content: center;
}
.switch-container > div {
  margin: 1% 10% 3% 0;
}
.input-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.input-container > div {
  margin: 1% 5% 0 0;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 1% 5% 0 0;
}

.result {
  padding: 10% 0 0 0;
  font-size: 24px;
}
.result-container {
  /* display: flex; */
  padding-left: 60px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
.btn-calculate {
  text-align: center;
}
.btn-calculate > button {
  height: 35px;
  margin-right: 12%;
  border-radius: 10px;
  border: 2px solid #25aa78;
  background-color: #25aa78;
  border-color: #25aa78;
  font-size: 15px;
  width: 125px;
  cursor: pointer;
}

.currency {
  background: white;
  border-radius: 10px;
}
#total {
  border: 1px solid;
}
#wealth-gained {
  border: 1px solid;
}
#maturity-value {
  border: 1px solid;
}
#investment {
  height: 30px;
  border-radius: 9px;
  border-color: #333;
}
#years {
  height: 30px;
  border-radius: 9px;
  border-color: #333;
}
#return-rate {
  height: 30px;
  border-radius: 9px;
  border-color: #333;
}
